/* default styling start */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary_color:#0b132b;
    --secondary_color:#0DAB76;
    --tertiary_color:#edf2f4;
    --quartiary_color:#45503b;
    --cinqieme_color:#B1740F;
}
/* Body Styling Start */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--primary_color);
    background-color:#8d99ae;
}
/* Body Styling End */

/* Header styling start */
header{
    padding:20px 35px;
    background-color: #0b132b;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1{
    color:var(--tertiary_color);
    font-weight: 900;
    font-size: 40px;
    margin:0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav{
    margin:7px 0;   
}
header a{
    text-decoration: none;
    color:var(--secondary_color);
}
header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding:10px 10px;
    font-size:2vw;
    font-weight:200;   
}
header h1 a:hover{
    text-shadow:2px 2px 5px var(--tertiary_color);
}
header nav ul li a:hover{
    text-shadow: 3px 3px 10px var(--tertiary_color);
}
/* Header styling end */

/* Section styling start */
section{
    padding:50px;
}
/* section styling end */

/* footer styling start */
footer{
    padding:20px 35px;
    background-color: #0b132b;
    display:flex;
    justify-content: center;
}
footer h2{
    color:var(--secondary_color);
}
/* footer styling end */

/* Hero background image styling start */
.hero{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    background-position:center;
    padding-bottom:400px;   
}
/* hero background image styling end */

/* main sections styling start */
.content-main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.section-main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-title{
    display:flex;
    flex-wrap: nowrap;
    flex-basis:25%;
    font-size: 2vw;
    border-right: 2px solid var(--primary_color);   
}
/* main sections styling end */

/* about-me styling start */
.about-me{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 75%;
    padding: 0 50px;
}
.about-me img{
    width:300px;
    height:400px;
    background-image: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.about-text{
    padding:0 20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* about-me stying end */

/* main-text styling start */
.main-text{
    font-size: 1.5vw;
    color:var(--primary_color);
    display:flex;
    flex-basis: 75%;
}
.main-text ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin:10px;
}
.main-text ul li{
    display:flex;
    justify-content: center;
    padding:0 0 0 45px;
}
.main-text ul li a{
    text-decoration: none;
    color:var(--tertiary_color);
    margin:0 5px;   
}
.main-text a:hover{
    text-shadow: 5px 5px 10px var(--secondary_color);
}
/* main-text styling end */

/* overall card contain styling */
.work-cards{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 75%;
    padding:0 20px;
}
/* Large main card styling */
.main-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.card {
    background-color: var(--primary_color);
    border-radius:25px; 
    justify-content: space-around;
}
.card img{
    width:100%;
    border-radius: 25px 25px 0 0 ;
}
.card a:hover{
    filter:brightness(50%);
    box-shadow: 2px 2px 10px var(--secondary_color);
    border-radius: 25px 25px 0 0;
}
/* large main card styling end */

/* smaller sub-card styling start */
.sub-cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    padding:0px;
    margin:50px 0 100px;
}
.sub-cards img{    
    width:100%; 
    height:100%; 
    border-radius:25px 25px 0 0;  
}
.cards{
    /* display:flex;
    flex-direction: column;
    justify-content: space-between; */
    width:45%;
    height:auto;
    margin:15px 0;
}

.cards a{
    height:100%;
}
.cards a:hover{
    filter:brightness(50%);
    box-shadow:  5px 5px 10px var(--secondary_color);
    border-radius: 25px 25px 0 0;
}
.card-title{
     display:flex;
    flex-direction: column; 
    justify-content:space-around;
    text-align: center; 
    background-color: var(--primary_color);
    /* width:100%; */
    border-radius: 0 0 25px 25px;
    
    
}
.card-style{
    font-size: 25px;
    color:var(--secondary_color);
}
.card-style h3{
    font-size: 33px;
}
.card-style h4{
    font-size: 20px;
    font-weight: 400;
}
/* sub-card styling end */

/* resume styling start */
.resume{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 75%;
    padding-left: 50px;
    flex:10;
}
.resume img{
    height:100%;
    width:100%;
}
.resume-container{
    width:100%;
    height:100%;    
}
.resume a:hover{
    filter:brightness(50%);    
}

    
/* media query to make website resize as screen shrinks */

@media screen and (max-width:980px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position:relative;
        padding:0px;
        margin:0;
    }
    header h1{
        width:100%;
        text-align: center;
        font-size: 50px;
    }
    header nav ul {
        margin-top: 20px;
        width:100%;
        justify-content: center;
    }
    header nav ul li a{
        font-size: 35px;
    }
    
    .hero{
        background-image:none;
        background-size:auto;
        padding:0;
        margin:0;
    }
    .section-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section-title{
        font-size: 30px;
        border-right: none;
        display:flex;
        justify-content: center;
        border-bottom: 2px solid var(--primary_color);
        padding:0 0 10px 0;     
        
    }
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        padding:0;
        margin:0;
    }
    .about-me img{
        display:flex;
        justify-content: center;
        align-items: center; 
        flex-basis:auto;
        padding:8px 0;
    } 
    .about-text{
        width:100%;
    }
    .main-text{
        font-size: 18px;
        display:flex;
        justify-content: center;
        flex-basis:auto;
        
    }
    .main-text ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-size:25px;
        padding:10px 0;
    }
    .main-text ul li{
         display:flex; 
         justify-content: center; 
         text-align: center;
         padding:5px 0; 
         
    }
    .main-text ul li a{
        margin-left:5px
    }
    .section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis:auto;
       
    }
    .work-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0;
        padding: 10px 0;
        flex-basis:auto;
    }
    .sub-cards{
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-basis:auto;
    }
    .sub-cards a{
        display:flex;
        flex-basis:auto;
    }
    .cards{
        margin:0;
        width:100%;
        padding: 10px 0;
    }
    .resume{
        padding:15px 0 0 0;
        margin:0;
    }
}
/* end media query resizing */